/*Estilos de la calculadora*/

.fila{
	display: table-row;
}

.boton{
	display:table-cell;
	
	width:29px;
	padding:2px;
}
input{
	background-color: #ffaa22;
	border-radius: 5px;
	width:50px;
	height:60px;
	font-size: 2.5em;
}
input:active{
	background-color: #ff0;
}

[type="text"]{
	width:200px;
}

.contenedor{
	display: table;
	margin: 0 auto;
}
.pantalla{
	margin-left:570px;
}