<!DOCTYPE html>
<html lang="es" ng-app="acumuladorApp">
<head>
	<meta charset="UTF-8">
	<title>ng-class, la caña</title>
	<style type="text/css">
		.negativo{
			color: #f00;
		}
		.positivo{
			color: #33f;
		}
		.titularpeq{
			font-size: 10px;
		}
		.titulargra{
			font-size: 18px;
		}
		.uno{
			background-color: #666;
		}
		.dos{
			color: #fff;
		}
		.tres{
			font-size: 30px;
		}
	</style>
</head>
<body>
	<div ng-controller="acumuladorCtrl as vm">
		<h1 ng-class="vm.tamTitular">Acumulador</h1>
		<select ng-model="vm.tamTitular">
			<option value="titularpeq">Pequeño</option>
			<option value="titulargra">Grande</option>
		</select>
		<h2 ng-class="vm.clases">Control de operacion:</h2>
		¿Cuanto?<input type="text" ng-model="vm.cuanto" size="4" placeholder="0">
		<br>
		<input type="button" ng-click="vm.sumar()" value="+">
		<input type="button" ng-click="vm.restar()" value="-">
		<h2 >Totales:</h2>
		<p ng-class="{positivo: vm.total>=0, negativo: vm.total<0}">
			En el acumulador llevamos <span>{{vm.total}}</span>
		</p>
	</div>

	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js"></script>
	<script type="text/javascript">
		angular
			.module('acumuladorApp',[])
			.controller('acumuladorCtrl',controladorPrincipal);

		function controladorPrincipal(){
			var vm=this;
			vm.total=0;
			vm.cuanto=0;

			vm.titular="titularpeq";

			vm.restar= function(){
				vm.total -= parseInt(vm.cuanto);
			}
			vm.sumar = function(){
				vm.total += parseInt(vm.cuanto);
			}

			vm.clases=['uno','dos','tres'];
		}
	</script>
</body>
</html>